<% if logged_in? %>

<h1>Change</h1>

<h2 class="text-center margin-header">Form :</h2>
<div class="container margin-header">
	<%= form_for(@user, url: signup_path) do |f| %>
  <strong><%= f.label :first_name %></strong><br>
    <%= f.text_field :first_name, placeholder: "Your first name" %><br>
  <strong><%= f.label :last_name %></strong><br>
    <%= f.text_field :last_name, placeholder: "Your last name" %><br>
	<strong><%= f.label :email %></strong><br>
		<%= f.email_field :email, placeholder: "Your email" %><br><br>
  <strong><%= f.label :password %></strong><br />
		<%= f.password_field :password, placeholder: "Your password" %>
	<strong><%= f.label :password_confirmation %></strong><br />
		<%= f.password_field :password_confirmation, placeholder: "Confirm your password", size: "60x10" %>
	<%= f.submit "Submit" %>
	<% end %>
</div>

<% else %>

<p> Not your profile </p>

<% end %>
